<section class="main-section-home">
  <star-chef-navigator [icon]="'arrow_back_ios'" [title]="'Select Dishes'"></star-chef-navigator>
  <star-chef-date-time></star-chef-date-time>
  <star-chef-recipe-style
    [items]="['Italian','Indian','Indian','Indian','Indian','Indian','Indian','Indian','Indian','Indian','Indian','Indian','Indian']"></star-chef-recipe-style>
  <star-chef-popular-dishes [title]="'Popular Dishes'" [items]="popularDishes"></star-chef-popular-dishes>
  <mat-divider></mat-divider>
  <star-chef-recommended [items]="recommendedDishes"></star-chef-recommended>
</section>
